<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookish Quest -- REVIEWS</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Additional custom CSS -->
    <style>
        .navbarcolor {
            background-color: #E08F71;
            height:125px;
        }

        .navbarbuttons {
            margin-top:25px;
        }

        .hopetobecenter{
            margin-left:375px;
            margin-top:25px;
        }

        .recent{
            background-color: #B0C49E;
            padding-bottom: 50px;
            padding-right: 50px;
            padding-left: 50px;
            border-radius: 50px;
            margin-top: 30px;
        }

        .current{
            background-color: #9ABBAC;
            padding-bottom: 50px;
            padding-right: 50px;
            padding-left: 50px;
            border-radius: 50px;
            margin-top: 50px;
        }

        .bColor{
            color: black;
            border-radius: 50px;
            margin-left: 10px;
        }
        
    </style>

</head>

<body>

    <!-- Nav bar: Reference: https://materializecss.com/navbar.html -->
    <!-- It is the same navbar as index.html (I just copy pasted it :D) -->
    <nav class = "navbarcolor">
        <div class="nav-wrapper">
            <div class="center">
                
                <a href="/">
                    <img src="/images/BookishQuestLogo.png" class="hopetobecenter" alt="Bookish Quest Logo" height="75px">
                </a>
            
            <ul class="right navbarbuttons">
                <li><a href="/allbooks"><i class="material-icons left">book</i>All Books</a></li>
                <li><a href="/reviews"><i class="material-icons left">border_color</i>Reviews</a></li>
                <li><a href="/favorites"><i class="material-icons left">favorite</i>Favorites</a></li>
            </ul>
            </div>
        </div>
    </nav>


    <!-- Actual page content! -->
    <div class="container">
            <h1>Reviews</h1>
                    <%for(let i = 0; i < booklist.length; i++){%>
                        <%if (booklist[i].review) {%>
                    <div class="section current" id="list">
                    <h1><%=booklist[i].title%></h1>
                    <table>
                    <tbody>
                    <tr>
                        <td><h3><%=booklist[i].review%></h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
                    <%}%>
                    <%}%>

        
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Auto-initialize Materialize elements (Note - more specific initialization may be required for certain elements)-->
    <script> M.AutoInit();</script>

</body>

</html>